
// COLORS
$dark-grey: #484848 
$light-grey: #808080 
$lighter-grey: #D0D0D0
$white: #fff
$pink: #CC0066


@media (min-width: 1200px)
  .container
    width: 970px

@media (max-width: 767px)
  
  .header
    .balls-wrapper
    ul.balls
      position: relative

  .main
    .left-sidebar
      padding-bottom: 30px
      border-bottom: 1px solid $pink
      text-align: center
    .right-sidebar
      border-left: 0
      padding-top: 30px

  .xs-margin
    margin-bottom: 20px
